<!DOCTYPE html>
<html>
<head>
	<title>Beneva Web2Print</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-app="app" ng-controller="AppCtrl as ctrl">
	<div ng-hide="uid" id="login">
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="panel panel-default"><div class="panel-body">
						<center><h1>Login</h1></center>
						<div class="form-group"><input class="form-control" ng-model="login.email" type="email" placeholder="Email" required></div>
						<div class="form-group"><input class="form-control" ng-model="login.password" type="password" placeholder="Password" required></div>
						<div class="form-group"><button class="btn btn-primary pull-right" ng-click="ctrl.login(login)">Login</button></div>
						<div class="form-group"><button class="btn btn-default pull-right" style="margin-right:20px;" data-toggle="modal" data-target="#createAccount">Create Account</button></div>
					</div></div>
				</div>
			</div>
		</div>
	</div>
	<div id="bg" ng-if="uid"></div>
	<div id="overlay" ng-if="uid"></div>
	<div ng-if=""="uid" class="input" ng-repeat="(key, input) in ctrl.inputs" id="input{{$index}}" style="left:{{input.left}}px;top:{{input.top}}px;">
		<div id="buttons{{$index}}">
			<button class="btn btn-primary prev" href="javascipt:void(0)" ng-click="ctrl.move('prev',$index, ctrl.inputs)">Prev</button>
			<button class="btn btn-primary next" href="javascipt:void(0)" ng-click="ctrl.move('next',$index, ctrl.inputs)">Next</button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('up', ctrl.inputs.$keyAt(key))"><i class="fa fa-chevron-up"></i></button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('down', ctrl.inputs.$keyAt(key))"><i class="fa fa-chevron-down"></i></button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('left', ctrl.inputs.$keyAt(key))"><i class="fa fa-chevron-left"></i></button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('right', ctrl.inputs.$keyAt(key))"><i class="fa fa-chevron-right"></i></button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('bigger', ctrl.inputs.$keyAt(key))"><i class="fa fa-font"></i></i></button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('smaller', ctrl.inputs.$keyAt(key))"><sub><i class="fa fa-font"></i></sub></button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('shorter', ctrl.inputs.$keyAt(key))"><i class="fa fa-arrow-left"></i></button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('longer', ctrl.inputs.$keyAt(key))"><i class="fa fa-arrow-right"></i></button>
			<button ng-class="{active:input.bold}" class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('bold', ctrl.inputs.$keyAt(key))"><strong>Bold</strong></button><br>
		</div>
		<input type="text" ng-model="input.text" ng-change="ctrl.inputs.$save(input)" ng-class="{bold:input.bold}" style="font-size:{{input.size}}px;" size="{{input.length}}">
	</div>
	<div id="logo" ng-show="uid">
		<a id="input{{ctrl.inputs.length}}"></a>
		<div id="buttons{{ctrl.inputs.length}}">
			<button class="btn btn-primary prev" href="javascipt:void(0)" ng-click="ctrl.move('prev',$index, ctrl.inputs)">Prev</button>
			<button class="btn btn-primary next" href="javascipt:void(0)" ng-click="ctrl.move('next',$index, ctrl.inputs)">Next</button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('up', ctrl.inputs.$keyAt(key))"><i class="fa fa-chevron-up"></i></button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('down', ctrl.inputs.$keyAt(key))"><i class="fa fa-chevron-down"></i></button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('left', ctrl.inputs.$keyAt(key))"><i class="fa fa-chevron-left"></i></button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('right', ctrl.inputs.$keyAt(key))"><i class="fa fa-chevron-right"></i></button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('wider', ctrl.inputs.$keyAt(key))"><i class="fa fa-arrow-right"></i></i></button>
			<button class="btn btn-default btn-sm" href="javascipt:void(0)" ng-click="ctrl.set('thinner', ctrl.inputs.$keyAt(key))"><i class="fa fa-arrow-left"></i></button><br>
		</div>
		<input type="file" accept="image/*" capture="camera" id="file-upload">
		<img class="pano" id="pano" width="{{ctrl.logo.width}}" />
		<div id="uid" class="hidden">{{uid}}</div>
	</div>
	<button id="logout" ng-show="uid" ng-click="ctrl.logout()" class="btn btn-default"><i class="fa fa-sign-out"></i></div>
	<button id="settings" ng-show="uid" class="btn btn-circle btn-success btn-lg" ng-click="ctrl.add()"><i class="glyphicon glyphicon-plus"></i></button>
	<div class="modal fade" id="createAccount" tabindex="-1" role="dialog" aria-labelledby="createAccountLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="createAccountLabel">Create Account</h4>
				</div>
				<div class="modal-body">
					<div ng-show="ctrl.error" class="alert alert-warning alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						{{ctrl.error}}
					</div>
					<div class="form-group">
						<label>Email*</label>
						<input class="form-control" ng-model="cred.email" type="email" required>
					</div>
					<div class="form-group">
						<label>Passowrd*</label>
						<input class="form-control" ng-model="cred.password" type="password" required>
					</div>
					<div class="form-group">
						<label>Company*</label>
						<input class="form-control" ng-model="info.company" type="text" required>
					</div>
					<div class="form-group">
						<label>Phone*</label>
						<input class="form-control" ng-model="info.phone" type="phone" required>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary" ng-click="ctrl.create(cred, info)">Create</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-flow/2.6.1/ng-flow-standalone.min.js"></script>
	<script type="text/javascript">
		var app = angular.module('app', ['firebase'])
		.controller("AppCtrl", ["$rootScope", "Auth", "Ref", "$firebaseArray", "$anchorScroll", function($rootScope, Auth, Ref, $firebaseArray, $anchorScroll){
			var ctrl = this;
			this.login = function(login){
				Ref.authWithPassword(login, function(error, authData) {
					if(error){console.log(error);}else{console.log(authData);}
				});
			};
			this.logout = function(){Ref.unauth();};
			this.create = function(cred, info){
				Ref.createUser({email:cred.email,password:cred.password}, function(error, userData) {
					if(error){
						console.log(error);
						ctrl.error = error;
					}else{
						Ref.child('2015_Fall/'+userData.uid+'/info').set({company:info.company,phone:info.phone,email:cred.email});
						ctrl.login(cred);
						console.log("Successfully created user account with uid:", userData.uid);
					}
				});
			};
			this.add = function(){
				Ref.child('/2015_Fall/'+$rootScope.uid+'/inputs/').push(
					{"left":"118","length":"8","size":"120","text":"type","top":"72","bold":false}
				);
			};
			this.set = function(action, key){
				switch(action) {
				    case "up":
						Ref.child('/2015_Fall/'+$rootScope.uid+'/inputs/'+key+'/top').once('value',function(snap){
							var val = snap.val();
							var top = Number(val);
							var up = top - 2;
							snap.ref().set(up);
						});
				        break;
				    case "down":
						Ref.child('/2015_Fall/'+$rootScope.uid+'/inputs/'+key+'/top').once('value',function(snap){
							var val = snap.val();
							var top = Number(val);
							var down = top + 2;
							snap.ref().set(down);
						});
				        break;
				    case "left":
						Ref.child('/2015_Fall/'+$rootScope.uid+'/inputs/'+key+'/left').once('value',function(snap){
							var val = snap.val();
							var left = Number(val);
							var left = left - 2;
							snap.ref().set(left);
						});
				        break;
				    case "right":
						Ref.child('/2015_Fall/'+$rootScope.uid+'/inputs/'+key+'/left').once('value',function(snap){
							var val = snap.val();
							var left = Number(val);
							var right = left + 2;
							snap.ref().set(right);
						});
				        break;
				    case "bigger":
						Ref.child('/2015_Fall/'+$rootScope.uid+'/inputs/'+key+'/size').once('value',function(snap){
							var val = snap.val();
							var size = Number(val);
							var bigger = size + 2;
							snap.ref().set(bigger);
						});
				        break;
				    case "smaller":
						Ref.child('/2015_Fall/'+$rootScope.uid+'/inputs/'+key+'/size').once('value',function(snap){
							var val = snap.val();
							var size = Number(val);
							var smaller = size - 2;
							snap.ref().set(smaller);
						});
				        break;
				    case "longer":
						Ref.child('/2015_Fall/'+$rootScope.uid+'/inputs/'+key+'/length').once('value',function(snap){
							var val = snap.val();
							var length = Number(val);
							var longer = length + 1;
							snap.ref().set(longer);
						});
				        break;
				    case "shorter":
						Ref.child('/2015_Fall/'+$rootScope.uid+'/logo/width').once('value',function(snap){
							var val = snap.val();
							var length = Number(val);
							var shorter = length - 1;
							snap.ref().set(shorter);
						});
				        break;
				    case "wider":
						Ref.child('/2015_Fall/'+$rootScope.uid+'/logo/width').once('value',function(snap){
							var val = snap.val();
							var width = Number(val);
							var wider = width + 1;
							snap.ref().set(shorter);
						});
				        break;
				    case "thinner":
						Ref.child('/2015_Fall/'+$rootScope.uid+'/inputs/'+key+'/length').once('value',function(snap){
							var val = snap.val();
							var width = Number(val);
							var thinner = width - 1;
							snap.ref().set(shorter);
						});
				        break;
				    case "bold":
						Ref.child('/2015_Fall/'+$rootScope.uid+'/inputs/'+key+'/bold').set(true);
				        break;
				}			
			}
			this.move = function(direction, index, inputs){
				console.log(index);
				var move = 0;
				if(direction == 'next'){
					move = index + 1;
				}else if(direction == 'prev'){
					move = index - 1;
				}
				console.log(move);
				if(index == inputs.length){
					move = 0;
				}else if(index == -1){
					move = inputs.length;
				}
				for(i = 0; i < inputs.length; i++){
					var el = angular.element(document.querySelector('#buttons'+i));
					el.addClass('hidden');
				}
				var el = angular.element(document.querySelector('#buttons'+move));
				el.removeClass('hidden');
				$anchorScroll('input'+move);
			};
		    Auth.$onAuth(function(authData) {
		    	if(authData){
					$rootScope.uid = authData.uid;
					Ref.child('/2015_Fall/'+authData.uid+'/logo/img').once('value', function(snap) {
						var payload = snap.val();
						if (payload != null) {
							document.getElementById("pano").src = payload;
						} else {
							console.log("Not found");
						}
					});
					ctrl.inputs = $firebaseArray(Ref.child('/2015_Fall/'+$rootScope.uid+'/inputs'));
					ctrl.inputs.$loaded(function(x) {
						console.log(x);
					}, function(error) {
						console.error("Error:", error);
					});
		    	}else{
		    		$rootScope.uid = false;
		    	}
		    });
			var elstart = angular.element(document.querySelector('#buttons0'));
			elstart.removeClass('hidden');
			$anchorScroll('input0');
		}])
		.factory("Auth", ["$firebaseAuth", "Ref", function($firebaseAuth, Ref){return $firebaseAuth(Ref);}])
		.factory("Ref", [function (){var ref = new Firebase("https://webprint.firebaseio.com/");return ref;}]);
		function handleFileSelect(evt) {
			var f = evt.target.files[0];
			var reader = new FileReader();
			reader.onloadend = (function(file) {
			    return function(e) {
					closurefun(e, file);
				}
			})(f);
			reader.readAsDataURL(f);
			function closurefun(e, file){
				var uid = $("#uid").html();
				console.log(uid);
		    	var filePayload = e.target.result;
				var ref = new Firebase('https://webprint.firebaseio.com/2015_Fall/'+uid+'/logo/img');
				ref.set(filePayload);
				document.getElementById("pano").src = e.target.result;
			}
		}
		document.getElementById("file-upload").addEventListener('change', handleFileSelect, false);
	</script>
</body>
</html>