@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
body,html{
	padding:0;
	margin:0;
	font-family: "Droid Serif", sans-serif;
	min-height:100%;
	height:auto;
}
#login{
	margin-top:50px;
}
#bg{
	background: url(bg.jpg) no-repeat;
	background-size: 3375px 1875px;
	width: 3375px;
	height: 1875px;
}
#overlay{
	background:url(overlay.png) no-repeat;
	background-size: 3260px 1743px;
	position: absolute;
	top:50px;
	left:62px;
	width: 3260px;
	height: 1743px;
	opacity: 0.2;
}
.bold{
	font-weight:bold;
}
#logo{
	position:absolute;
	left: 2678px;
	top:86px;
}
#logo img{
	width:593px;
	height: 330px;
}
.input input{
	background: transparent;
	border:none;
}
.input{
	position: absolute;
}
#settings{
	position: fixed;
	right:15px;
	bottom:15px;
}
#logout{
	position: fixed;
	right:15px;
	top:15px;
}
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}
.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}